.doacao{
  padding:60px 20px;
  background:linear-gradient(135deg,#0f5132,#198754);
}

.doacao-box{
  max-width:500px;
  margin:0 auto;
  background:#fff;
  padding:30px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 15px 40px rgba(0,0,0,.3);
}

.doacao-box h2{
  color:#0f5132;
  margin-bottom:10px;
}

.doacao-box p{
  color:#555;
  margin-bottom:20px;
}

.doacao-box input,
.doacao-box select{
  width:100%;

  .vip{
  padding:60px 20px;
  background:linear-gradient(135deg,#8b1111,#c61f1f);
}

.vip-box{
  max-width:500px;
  margin:auto;
  background:#fff;
  padding:30px;
  border-radius:20px;
  text-align:center;
}
  padding:14px;
  margin-bottom:12px;
  border-radius:10px;
  border:1px solid #ddd;
}

.doacao-box button{
  width:100%;
  padding:16px;
  border:none;
  border-radius:10px;
  background:#1fae42;
  color:#fff;
  font-weight:bold;
  cursor:pointer;
}

#pixBox{
  margin-top:20px;
}

.hidden{
  display:none;
}
