body{
  margin:0;
  font-family:Arial;
  background:linear-gradient(135deg,#8b1111,#c61f1f);
}

.container{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}

.box{
  background:#fff;
  width:100%;
  max-width:450px;
  padding:30px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 20px 50px rgba(0,0,0,.3);
}

h1{
  color:#8b1111;
}

p{
  color:#555;
}

input, select{
  width:100%;
  padding:14px;
  margin:10px 0;
  border-radius:10px;
  border:1px solid #ddd;
}

button{
  width:100%;
  padding:16px;
  border:none;
  border-radius:10px;
  background:#1fae42;
  color:#fff;
  font-weight:bold;
  cursor:pointer;
}

button:hover{
  transform:scale(1.03);
}

#pixBox{
  margin-top:20px;
}

#pixCode{
  width:100%;
  height:90px;
}

.hidden{
  display:none;
}
